.archiv {
  background: $color-blue-light;
  padding-top: 5rem;
  padding-bottom: 4rem;

  .pagination {
    margin: 2rem 0;
  }

  .container {
    display: grid;
    grid-template-columns: minmax(200px, 1fr);
    gap: 3rem;

    @include sm {
      grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
    }

    @include lg {
      grid-template-columns: repeat(4, minmax(200px, 1fr));
    }
  }

  .card {
    background: $color-white;
    padding-bottom: 3rem;
    position: relative;

    &__thumbnail {
      width: 100%;
      img {
        max-width: 100%;
      }
    }

    &__content {
      padding: 0.5rem 1.6rem;
    }

    &__date {
      font-size: 1.2rem;
      padding-bottom: 1rem;
      color: #a9a9a9;
    }

    &__text {
      font-size: 1.2rem;
      padding-bottom: 2rem;
    }

    &__vice-info {
      position: absolute;
      left: 1.6rem;
      bottom: 1.5rem;
      color: $color-red;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 12px;
      line-height: 1.5rem;
      span:first-child {
        vertical-align: top;
      }
    }

    .icon-arrow_link {
      padding-left: 1rem;
      font-size: 14px;

      &::before {
        color: $color-red;
      }
    }
  }
}
