.boxes-section {
  background: $color-blue-light;
  padding-top: 5rem;
  padding-bottom: 6rem;
  position: relative;

  @include lg {
    padding-top: 16rem;
    padding-bottom: 16rem;
  }

  @include uw {
    padding-top: 20rem;
    padding-bottom: 20rem;
  }

  .container {
    display: grid;
    grid-template-columns: minmax(288px, 350px);
    grid-template-rows: 1fr;
    justify-content: center;
    grid-template-areas:
      "what-is"
      "aktuality"
      "pro-media"
      "pro-partnery";
    align-items: center;
    justify-items: stretch;
    gap: 2.5rem;

    @include lg {
      grid-template-columns: repeat(4, minmax(200px, 350px));
      grid-template-rows: 2fr;
      grid-template-areas:
        "what-is what-is what-is what-is"
        "aktuality aktuality pro-media pro-partnery";
      align-items: stretch;
      gap: 3rem;
    }

    & > div {
      h2:before,
      h3:before {
        content: "";
        position: absolute;
        width: 25px;
        height: 3px;
        top: -1.8rem;
        background: $color-red;
      }
      padding: 3rem 3.6rem;
      background: $color-white;
    }
  }

  .prispevek {
    @include md {
      margin-bottom: 0;
    }
  }

  &__what-is {
    position: relative;
    margin-bottom: 3rem;
    grid-area: what-is;

    h2 {
      font-size: 3rem;
      @include xl {
        font-size: 3.4rem;
      }
      @include xl {
        font-size: 3.4rem;
      }
    }

    p {
      font-size: 14px;
      line-height: 22px;
      @include xl {
        font-size: 16px;
        line-height: 24px;
      }
    }

    :nth-child(3) {
      margin-top: 2.8rem;
    }

    ._video {
      min-width: 220px;
      height: auto;
      margin: 0 auto;
      margin-top: 1.6rem;
      margin-bottom: -6rem;
      position: relative;

      .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        background: rgba(121, 195, 217, 0.8);
        border: 1px solid white;
        border-radius: 50px;
        margin-right: -50%;
        cursor: pointer;
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          margin-left: 4px;
          transform: translate(-50%, -50%);
          border-style: solid;
          border-width: 15px 0 15px 30px;
          border-color: transparent transparent transparent white;
        }
      }
    }

    @include lg {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      width: calc(100% - 10.2rem);

      .--flex-lg-helper {
        width: 45%;
        margin-right: 4rem;
      }

      .--flex-lg-video-helper {
        width: 50%;
        position: relative;

        ._video {
          position: absolute;
          margin: 0;
          height: 100%;
          width: 120%;
          right: -6.8rem;
          top: -6rem;
        }
      }
    }
  }

  &__aktuality {
    grid-area: aktuality;
    h4 a {
      color: $color-black;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }

    &__vsechny {
      position: relative;
      display: flex;
      justify-content: center;
      margin-top: 3rem;

      .btn {
        display: block;
        margin: 0 auto;
        font-size: 1.3rem;
        padding: 0 2rem;
      }
    }

    &__vsechny:before {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      top: -2rem;
      background: rgba(40, 40, 40, 0.1);
    }

    @include lg {
      .--grid-lg-helper {
        display: flex;
        justify-content: space-between;
        .prispevek {
          width: 48%;
        }
      }
      .boxes-section__pro-media {
        .prispevek {
          margin-bottom: 0;
        }
      }
    }
  }

  &__pro-media {
    grid-area: pro-media;
  }
  &__pro-partnery {
    grid-area: pro-partnery;
  }

  &:after {
    content: "";
    width: 1px;
    height: 2.6rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background: $color-blue;
  }

  &:before {
    content: "";
    width: 1px;
    height: 1.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    background: $color-blue-light;
    z-index: 1;
  }
}
