.js-timer {
    background: rgba(0,0,0,0);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4,1fr);
    gap: 2.5rem;
    margin: 1rem .5rem;
    visibility: hidden;
    opacity: 0;
    &--show {
        visibility: initial;
        opacity: 1;
    }
    &__box {
        min-height: 118px;
     }

    &__num {
        font-family: $font-secondary-bold;
        font-size: 4rem;
        color: $color-white;
        text-shadow: 0px 0px 4px rgba(0,0,0,0.2);
        text-align: center;
    }

    &__text {
        color: $color-blue-dark;
        text-align: center;
        font-family: $font-bold;
        letter-spacing: 0.2rem;
        font-size: 1rem;
    }

    @include md {
        width: 70%;
        margin: 3rem auto;
        
        &__num {
            font-size: 5rem;
        }
        &__text {
            font-size: 1.3rem;
        }
    }

    @include ex {
        margin: 5rem auto;

        &__num {
            font-size: 6rem;
        }
    }
}