/* Registrace sekce + registrace formular */

.registrace {
    background: $color-blue-light;
    padding-top: 5rem;
    padding-bottom: 4rem;

    h2 { 
        position: relative;
        text-align: center;
        margin-bottom: 4rem;

        &:before {
            content: "";
            width: 25px;
            height: 3px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -1.8rem;
            background: $color-red;
        }
    }

    @include lg {
        padding-top: 9rem;
    }
}

.registrace-formular {

    fieldset {
        margin-bottom: 3rem;
        padding: 3rem;
        background: $color-white;
        display: flex;
        flex-flow: row wrap;
        box-shadow: 4px 4px 14px -4px rgba(0,0,0,0.15);
    
        legend {
            box-shadow: 4px 4px 14px -4px rgba(0,0,0,.15);
            background: #D25D54;
            color: white;
            padding: 1rem 2rem;
            font-size: 2rem;
        }

        p {
            padding-bottom: 3rem;
            font-family: $font-light;
        }

        h4 {
            font-family: $font;

        }

        .registrace-formular__row {
            position: relative;
            margin-bottom: 4rem;

            label {
                font-size: 1.6rem;
                transition: 0.35s;
                pointer-events: none;
            }

            .label--mod {
                top: 0.5rem;
                position: absolute;
            }

            .input-info {
                font-family: $font-light;
                font-style: italic;
                font-size: 1.2rem;
            }

            input {
                width: 100%;
                border: none;
                border-bottom: 1px solid #A9A9A9;
                padding-top: 1rem;
                padding-bottom: 1rem;
                font-size: 1.8rem;
    
                &[type=number]::-webkit-inner-spin-button, &[type=number]::-webkit-outer-spin-button { 
                    -webkit-appearance: none; 
                    margin: 0; 
                }

                
                
                &:focus {
                    outline: none;
                    border-bottom: 1px solid $color-red;
                }
            }

            &--checkboxes label { pointer-events: all !important; }

            .checkboxes-wrapper {
                margin-left: 5rem;
                div {
                    padding-bottom: 1rem;
                }
            }

            .select-style {
                border: 1px solid #D25D54;
                width: 120px;
                border-radius: 3px;
                overflow: hidden;
                background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
                cursor: pointer;
            
                & select {
                    padding: 5px 8px;
                    width: 130%;
                    border: none;
                    box-shadow: none;
                    background: transparent;
                    background-image: none;
                    -webkit-appearance: none;
                }
            
                & select:focus {
                    outline: 2px $color-red;
                }

                @include sm {
                    width: 150px;
                }
            }

            input:focus ~ .label--mod, input:valid ~ .label--mod, textarea:focus ~ .label--mod, textarea:valid ~ .label--mod, select:focus ~ .label--mod, select:valid ~ .label--mod {
                top: -12px;
                color: $color-red;
                font-size: 1.3rem;
                font-family: $font-bold;
            }
        }
    }

    input[type=submit] {
        padding: 0 4rem;
        border: 0;
        text-transform: uppercase;
    }
}

.cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease;
  }
  .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: $color-red;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .cbx span:last-child {
    padding-left: 8px;
  }
  .cbx:hover span:first-child {
    border-color: $color-red;
  }
  
  .inp-cbx:checked + .cbx span:first-child {
    background: $color-red;
    border-color: $color-red;
    animation: wave 0.4s ease;
  }
  .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  @keyframes wave {
    50% {
      transform: scale(0.9);
    }
  }
