.flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
}

.py-5 {
  padding: 5rem 0;
}

.layout {
  display: flex;
  flex-wrap: wrap;
  &__section {
    box-sizing: border-box;
    overflow: auto;
    padding: 0 0 2rem 0;
    width: 100%;
    &.layout__section--half {
      @include lg {
        width: 50%;
      }
      &:nth-child(odd) {
        @include lg {
          padding-right: 2rem;
        }
      }
      &:nth-child(even) {
        @include lg {
          padding-left: 2rem;
        }
      }
    }
    h2 {
      margin-block-end: 5rem;
    }
    h3 {
      font-size: 30px;
      margin-block-end: 4rem;
    }
    h4 {
      font-size: 26px;
      margin-block-end: 3rem;
    }
  }
}

.buttons-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  @include sm {
    flex-direction: row;
    flex-wrap: wrap;
  }
  a {
    margin: 0;
    @include sm {
      margin-left: 1rem;
      margin-right: 1rem;
      &:first-child {
        margin-left: 0rem;
      }
      &:last-child {
        margin-right: 0rem;
      }
    }
  }
}
