.header {
  z-index: 18;
  transition: 0.2s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  
  ul li:before {
    content: '';
    display: none;
    width: 0;
    padding: 0;
  }

  &--shadow {
    box-shadow: 0px 7px 8px -7px rgba(0, 0, 0, 0.22);
    background: white;

    .nav.a.btn--menu,a.btn--menu {
      color: $color-blue-dark;

      span.icon-burger_menu:before { 
        color: $color-blue-dark;
      }
    }

    #desktop-menu > ul > li > a {
      color: $color-blue-dark;        
    }

    #desktop-menu > ul > li:hover > a {
      color: $color-blue;
    }

    .menu-item-has-children > a:before,.menu-item-has-children > a:after {
      background: $color-blue-dark;
    }

  }

  ._header-wrapper {
    height: 60px;
    width: calc(100% - 3.2rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    padding: 0 1.6rem;
    top: 0;
    background: white;
    z-index: 12;
    transition: all 250ms ease-in;

    .logo {
      position: relative;
      display: flex;
      &__img {
        width: 120px;
        @include rwd(460) {
          width: 160px;
        }
        @include xl {
            width: 200px;
        }
        .st0 {
          fill: #ffffff;
          fill-opacity: 0;
        }
        .st1 {
          fill: #fff;
        }
        .st2 {
          fill: #fff;
        }
        &--color {
          .st1 {
            fill: #43bad6;
          }
          .st2 {
            fill: #e25851;
          }
        }
      }

      img {
        width: 160px;
      }
    }

    // 20.9
    label {
      transform: none;
    }
    //
    ._show-menu {
      font-size: 15px;
      position: relative;
      color: $color-white;

      .icon-burger_menu--white,
      .icon-burger_menu--dark {
        width: 21px;
        height: 16px;
        position: absolute;
        top: 50%;
        transform: translateY(-45%);
        left: -2rem;
      }
    }

    ._hide-menu {
      display: none;
      font-size: 15px;
      position: relative;
      color: $color-white;

      .icon-close_icon--white,
      .icon-close_icon--dark {
        width: 21px;
        height: 16px;
        position: absolute;
        top: 50%;
        transform: translateY(-45%);
        left: -2rem;
      }
    }

    @include lg {
      background: transparent;
    }
  }

  .kb {
    font-size: 9px;
    font-family: $font-light; 
    margin-left: 3rem;
    a {
      color: $color-white;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }

    &__logo {
      width: 40px;
      margin: 0 auto;
      margin-top: 0.5rem;
      @include xl {
          width: 60px;
      }
      .cls-1 {
        fill: #ffffff;
      }
      .cls-2 {
        fill: #fff;
      }
      .cls-3 {
        opacity: 0;
      }
    }
    &--color {
      .kb__logo {
        .cls-1 {
          fill:#cc0033 ;
        }
        .cls-2 {
          fill:#000000 ;
        }
        .cls-3 {
          fill: #fff;
        }
      }
      a {
        color: $color-blue;
      }
    }
  }

  .nav {
    transition: all 200ms ease-in-out;
    z-index: 11;
    display: none;

    a {
      font-size: 1.5rem;
      text-decoration: none;
      transition: all 250ms ease-out;
    }

    .btn {
      font-size: 1.5rem;
      padding: 0 4rem;
      display: block;
      margin: 0 auto;
      margin-right: 2rem;
    }

    @include lg {
      display: inherit;
    }
  }

  .--mobile-dark-content {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
  }

  .btn--menu {
    color: $color-blue-dark;
    padding:0 !important;

    @include lg {
      color: $color-white;
    }

    span {
      margin-right: 1rem;    
    }
    .icon-burger_menu:before { 
      color: $color-white;
      transition: all 250ms ease-out;
      transition-property: all;
      transition-duration: 250ms;
      transition-timing-function: ease-out;
      transition-delay: 0s;
    }
  }
 

  @include lg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0;

    ._header-wrapper {
      height: initial;
      position: initial;
      background: initial;
      width: initial;
      display: block;
    }


    .nav {
      flex-flow: row nowrap;
      position: initial;
      background: initial;
      top: initial;
      left: initial;
      width: initial;
      padding: 0;
      z-index: 11;
      align-items: baseline;

      li {
        display: inline-block;
        margin: 0;
        margin-right: 1rem;
        padding: 5px 0;

        a {
          font-size: 1.2rem;
        }
      }

      .btn {
        display: inline-block;
        line-height: initial;
        padding: 0.9rem 1.6rem;
        width: initial;
        font-size: 1.2rem;
        margin-right: 1rem;
        
      }
    }

    .btn--menu--mobile {
      display: none;
    }

    &:hover {
      background: $color-white;

      li a {
        color: $color-blue-dark;
      }
    }
  }

  @include rwd(1100) {
    .nav {
      li { padding: 5px 5px;}
    }
  }

  @include xl {
    padding: 0;
    .nav {
      li { padding: 5px 10px;}
    }
  }

  @include ex {
    padding: 0 3rem;
    .nav {
      li {
        a {
          font-size: 1.5rem;
        }
      }
      .btn {
        font-size: 1.5rem;
      }
    }

    #desktop-menu {
      margin-right: 1.5rem;
    }
  }

  @include uw {
    .nav {
      li {
        margin-right: 2rem;

        a {
          font-size: 1.5rem;
        }
      }
      
      .btn {
        margin-right: 2rem;
      }
    }
  }
}

.mm-spn.mm-spn--light {
  background-color: $color-white;
  color: $color-blue-dark;
}

.mm-spn li:before {
  opacity: 1;
  color: $color-blue-dark;
}

.mm-spn.mm-spn--navbar:after {
  font-size: 1.4rem;
}

.mm-spn .btn {
  text-align: left;
}

@include xs {
  #desktop-menu {
    display: none;
  }
}

@include lg {
  #mobile-menu-btn {
    display: none;
  }

  #desktop-menu {
    display: initial;
  
    a {
      color: #FFF;
      text-decoration: none;
    }

    ul {
      margin: 0;
      list-style:none;
      background: transparent;
      padding: 0;
    }

    li {
        display: inline-block;
        position: relative;
    }

    li:hover > ul {
        display: block;
    }
    
    ul ul {
        position: absolute;
        display: none;
        margin: 0;
        padding: 0;
        width: max-content;
        background: $color-blue-light;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

        li {
          display: block;
          padding: 10px 0;
          width: 100%;
          
          &:hover {
            background: $color-blue;

            & a {
              color: $color-white;
            }
          }
        }

        a {
          color: $color-blue-dark;
          border-bottom: 1px solid transparent;
          padding: 5px 30px 5px 20px;

        }

        &:hover > a {
          color: white !important;
          background: #5ab4cf;      
        }    
    }

    ul ul ul {
      position: absolute;
      top: 0;
      left: 100%;
      box-shadow: 1.5px 1px 3px -1px rgba(0,0,0,.12), 1.5px 1px 2px -1px rgba(0,0,0,.24);
      background: $color-blue;

      li:hover > a {
        color: white;
        text-decoration: underline;      
      }
    }
  }
}

.menu-item-has-children { 
  & > a {
    position: relative;
    padding-right: 12px;
  }
}

.menu-item-has-children > a:before,.menu-item-has-children > a:after {
  content: '';
  width: 13px;
  height: 1.5px;
  background: $color-white;
  display: block;
  position: absolute;
  transition: all 150ms ease-out;
}



.menu-item-has-children > a:before {
  right: -8px;
  top: 50%;
  transform: translate(5px,-50%) rotate(-45deg);
}

.menu-item-has-children > a:after {
  right: 0;
  top: 50%;
  transform: translate(5px,-50%) rotate(45deg);
}

.menu-item-has-children:hover > a:after {
  transform: translate(5px) rotate(135deg);
  background: $color-blue;
}

.menu-item-has-children:hover > a:before {
  transform: translate(5px) rotate(-135deg);
  background: $color-blue;
}

ul ul .menu-item-has-children > a:before {
  transform: translate(-4px,3.8px) rotate(-45deg);
}

ul ul .menu-item-has-children > a:after {
  transform: translate(4px,-3.8px) rotate(45deg);
}

ul ul .menu-item-has-children:hover > a:before {
  transform: translate(0px,3.8px) rotate(-45deg);
  background: $color-white;
}

ul ul .menu-item-has-children:hover > a:after {
  transform: translate(8px,-3.8px) rotate(45deg);
  background: $color-white;
}