/* fonty */
$font: 'BwMitga-Regular';
$font-bold: 'BwMitga-Bold';
$font-light: 'BwMitga-Light';
$font-secondary-bold: 'OpenSans-Bold';

/* barvy */
$color-white: #ffffff;
$color-white-light: #feffff;
$color-white-lighter:#fefeff;

$color-blue: #5ab4cf;
$color-blue-medium: #79c3d9;
$color-blue-light: #ebf6f9;
$color-blue-dark: #303e42;

$color-gray: #2E2E2E;

$color-red: #d25d54;

/* viewporty */
$screen-xs-min: 319px;  //320
$screen-sm-min: 575px;  //576
$screen-md-min: 767px;  //768
$screen-lg-min: 991px;  //992
$screen-xl-min: 1199px; //1200
$screen-ex-min: 1399px; //1400
$screen-uw-min: 1599px; //1600
