h1 {
    font-family: $font;
    font-size: 44px;

}

h2, h3, h4 {
    font-family: $font-bold;
    position: relative;
}

h2 {
    font-size: 34px;
    margin-top: 1.6rem;
    margin-bottom: 1.8rem;
    &.h2--before {
        margin-top: 3rem;
        &:before {
            content: "";
            width: 25px;
            height: 3px;
            position: absolute;
            left: 50%;
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            top: -1.8rem;
            background: #d25d54;
        }
    }
    &.h2 {
        margin-block-start: 4rem;
        margin-block-end: 4rem;
    }
    &.h2--small {
        font-size: 20px;
    }
    &.h2--uppercase {
        text-transform: uppercase;
    }
    &.h2--nobefore {
        &:before {
            display: none;
        }
    }
    &.h2--margin-top {
        margin-top: 3rem;
    }
}

h3 {
    font-size: 20px;
    margin-top: 1.6rem;
    margin-bottom: 1.8rem;
    &.h3--small {
        font-size: 16px;
        margin-top: 1.4rem;
        margin-bottom: 1.6rem;
    }
    &.h3--uppercase {
        text-transform: uppercase;
    }
    &.h3--nobefore {
        &:before {
            display: none;
        }
    }
}

h4 {
    font-size: 16px;
    margin-top: 1.4rem;
    margin-bottom: 1.6rem;
}

.--bold {
    font-family: $font-bold;
}

strong {
    font-family: $font-bold;
}

p {
    font-size: 16px;
    padding-bottom: 1rem;
}

ul {
    list-style: none;
    font-size: 16px;
    line-height: 2.5rem;

    & li:before {
        content: '\2022';
        color: $color-blue-medium;
        display: inline-block;
        width: 1rem;
        padding-right: 0.75rem;
    }
}

ol {
    font-size: 16px;
    counter-reset: item;
    line-height: 2.5rem;

    li {
        list-style-type: none;
        counter-increment: item;
    }

    li:before {
        display: inline-block;
        width: 1rem;
        padding-right: 1rem;
        font-family: $font-bold;
        text-align: right;
        content: counter(item) '.';
    }
}